<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discussões sobre Filmes</title>
    <link rel="stylesheet" href="{% static 'FepiCineClup/css/style.css' %}">
    <script>
        function redirectToDetails(filmId) {
            // Redireciona o usuário para a página de detalhes do filme com base no ID
            window.location.href = '/detail/?filmId=' + filmId;
        }
    </script>
</head>
<body>

<header>
    <h1>Discussões sobre Filmes</h1>
</header>

<div class="banner">
    <div class="movie-item">
        <img src="{% static 'FepiCineClup/images/EntreEstrelas.jpg' %}" alt="Filme 1" onclick="redirectToDetails(1)">
        <div class="movie-info">
            <h3>Interstellar</h3>
            <p>2014</p>
        </div>
    </div>
    
    <div class="movie-item">
        <img src="{% static 'FepiCineClup/images/JurasQuePark.jpg' %}" alt="Filme 2" onclick="redirectToDetails(2)">
        <div class="movie-info">
            <h3>Jurassic Park</h3>
            <p>1993</p>
        </div>
    </div>
    
    <div class="movie-item">
        <img src="{% static 'FepiCineClup/images/Opaizao.jpg' %}" alt="Filme 3" onclick="redirectToDetails(3)">
        <div class="movie-info">
            <h3>O Paizão</h3>
            <p>1999</p>
        </div>
    </div>
</div>

</body>
</html>
