<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ filme.titulo }}</title>
    <link rel="stylesheet" href="{% static 'FepiCineClup/css/style.css' %}">
</head>
<body>

<header>
    <h1>{{ filme.titulo }}</h1>
</header>

<div class="movie-detail-container">
    <div class="movie-image">
        <img src="{{ filme.imagem }}" alt="{{ filme.titulo }}">
    </div>
    <div class="movie-info">
        <h2>Detalhes do Filme</h2>
        <p><strong>Ano:</strong> {{ filme.ano }}</p>
        <p><strong>Gênero:</strong> {{ filme.genero }}</p>
        <p><strong>Resumo:</strong> {{ filme.resumo }}</p>
    </div>
</div>

</body>
</html>
